# core packages
# tensorflow==2.4
# tensorflow-gpu==2.4
ray
ray[tune]
dm-tree
opencv-python

# game environments
pillow
gym-super-mario-bros

# compression packages
pyarrow
lz4

# hungry geese env
kaggle-environments
requests
gym